@import "./speaker-presenter"
@import "./media-controls"
@import "./voting"

#unveil
  iframe
    height: 500px

  button, .speaker-presenter .speaker-presenter-details .speaker-presenter-controls .modal button
    transition: background .25s, border .25s, color .25s
    background: rgba(255, 255, 255, .4)
    border-radius: 3em
    border: 1px solid #2c3e50
    color: #2c3e50
    padding: 0.5em 1em

    &[disabled]
      opacity: .5

    &:hover
      background-color: #2c3e50
      border-color: #2c3e50
      color: #fff

    &.small
      padding: 0.2em 0.5em

    &.primary
      border-color: #27ae60
      color: #27ae60

      &:hover
        background-color: #2ecc71
        border-color: #2ecc71
        color: #fff

  .modal
    z-index: 110
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0

    &:before
      content: ""
      display: block
      background: rgba(0,0,0,.6)
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0

    .modal-content
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

      width: 500px
      max-width: 100%
      height: auto

      box-sizing: border-box
      padding: 2em

      background: #fff
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 1em
      border-radius: 1em
      overflow: auto

      blockquote
        margin: 0 0 1em 0

      textarea
        display: block
        width: 100%

      img
        height: 200px

      .modal-buttons
        margin: 1em 0 0 0

        button
          margin-right: 1em
          &:last-child
            margin-right: 0

      h2
        font-size: 1.5em
        margin-top: 0

    .field
      display: block
      margin-bottom: 1em

      input
        display: block
        width: 100%
        border: 1px solid $gray
        border-radius: 1em
        padding: .2em 0.5em
        box-sizing: border-box
        margin-bottom: .3em

      label
        display: block
        width: 100%
        margin-bottom: .3em